# Virtual environment
venv/

#.env API
langgraph_app/.env

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/


#langgraph cache ]
.langgraph_api/

.env
.venv/
.venvnew/
langgraph_app/backend/outputs/
langgraph_app/*.sqlite
langgraph_app/*.db
langgraph_app/backend/online